<div id="print-section">


  <div *ngIf="flag">
    <table mat-table [dataSource]="dataSource.filteredData" class="mat-elevation-z8">


      <ng-container matColumnDef="methodTitle">
        <th mat-header-cell *matHeaderCellDef> Metodo žymuo/pavadinimas</th>
        <td mat-cell *matCellDef="let element"> {{element.method.methodTitle}}</td>
      </ng-container>
      <ng-container matColumnDef="solutionTitle">
        <th mat-header-cell *matHeaderCellDef> Tirpalo pavadainimas, tirpalo koncentracija</th>
        <td mat-cell *matCellDef="let element"> {{element.solution.solutionTitle}}</td>
      </ng-container>

      <ng-container matColumnDef="solutionCode">
        <th mat-header-cell *matHeaderCellDef> Tirpalo kodas</th>
        <td mat-cell *matCellDef="let element"> {{element.solution.solutionCode}}</td>
      </ng-container>

      <ng-container matColumnDef="solutionValidityDuration">
        <th mat-header-cell *matHeaderCellDef> Tirpalo galiojimo trukmė</th>
        <td mat-cell *matCellDef="let element"> {{element.solution.solutionValidityDuration}}</td>
      </ng-container>

      <ng-container matColumnDef="solutionCreationDate">
        <th mat-header-cell *matHeaderCellDef> Tirpalo pagaminimo data</th>
        <td mat-cell *matCellDef="let element"> {{element.solutionCreationDate}}</td>
      </ng-container>


      <ng-container matColumnDef="solutionComponent">
        <th mat-header-cell *matHeaderCellDef> Tirpalo komponentai</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let a of element.reagentsList">
            {{a.solutionComponent}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef> Kiekis/tūris</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let a of element.reagentsList">
            {{a.capacity}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="reagentCode">
        <th mat-header-cell *matHeaderCellDef> Reagento kodas</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let a of element.reagentsList">
            {{a.reagentCode}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="reagentValidityDuration">
        <th mat-header-cell *matHeaderCellDef> Reagento galiojimo trukmė</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let a of element.reagentsList">
            {{a.reagentValidityDuration}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngFor="let obj of solutionWithReagents">
      <p>
        {{a.solution}}
      </p>
    </div>

  </div>
</div>
<button (click)="print()">print</button>
