form {
  margin: 15px;
  padding: 2px;
}

.big {
  height: 3em;
  width: 15em;
  margin: 3px;
  background-color: red;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
