<form [formGroup]="inputForm" (ngSubmit)="submitForm()">

  <mat-form-field>

    <mat-select placeholder="Pasirinkite metodą" formControlName="methodTitle" required (closed)="getFullMethodById()">
      <mat-option *ngFor="let method of methods" [value]="method.methodTitle" (onchange)="getFullMethodById()">
        {{ method.methodTitle}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Pasirinkite tipalą" formControlName="solutionTitle" required>
      <mat-option *ngFor="let solutionWithReagents of solutionsWithReagents"
                  [value]="solutionWithReagents.solution.solutionTitle">
        {{solutionWithReagents.solution.solutionTitle}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput #input type="date" placeholder="Įveskite gaminimo datą" formControlName="solutionCreationDate"
           required (closed)="findReagents()">

  </mat-form-field>

  <button mat-raised-button type="submit" color="primary" (click)="sendToBackEnd()">
    submit
  </button>


</form>


